<script type="text/template" id="episode_item">
  <h2><a href="#<%= model.get("slug") %>"><%= model.get("title") %></a></h2>
  <ul class="info">
    <li class="date">
      <i class="fa fa-calendar"></i> <%= model.formattedDate() %>
    </li>
    <li class="download">
      <a href="<%= model.get("media_url") %>">
        <i class="fa fa-download"></i> Download
      </a>
    </li>
    <li class="duration">
      <i class="fa fa-clock-o"></i> <%= model.get("duration") %>
    </li>
  </ul>

  <audio src="<%= model.get("media_url") %>" preload="none" controls="controls">
    Your browser does not support the audio element.
  </audio>

  <div class="summary"><%= model.summary() %></div>
  <div class="description"><%= model.description() %></div>
</script>
