{% assign episode = include.episode %}
{% assign mode = include.mode %}
<div class="episode-item page {% if mode == 'list' %} in-list{% endif %}">
  <h1 class="title" id="{{ episode.slug }}">
    <a href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a>
  </h1>
  <ul class="info">
    <li class="date">
      <i class="fa fa-calendar"></i> {{ episode.pretty_date }}
    </li>
    <li class="duration">
      <i class="fa fa-clock-o"></i> {{ episode.duration }}
    </li>
    <li class="download">
      <a href="{{ episode.media_url }}">
        <i class="fa fa-download"></i> download
      </a>
    </li>
    {% if mode == 'list' %}
    <li class="duration">
      <a href="{{ episode.url | prepend: site.baseurl }}">
        <i class="fa fa-play"></i> listen
      </a>
    </li>
    {% endif %}
  </ul>

  {% if mode != 'list' %}
  <audio controls="controls" preload="none">
    <source src="{{ episode.media_url }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  {% endif %}

  <div class="description-wrapper">
    <div class="description">
      <div class="description-content">
        <p>
          {{ episode.summary }}
        </p>

        {{ episode.content }}
      </div>
    </div>
    {% if mode == 'list' %}
    <div class="toggle-more">
      <div class="fade"></div>
      <a href="{{ episode.url | prepend: site.baseurl }}" class="more">
        Read more...
      </a>
    </div>
    {% endif %}
  </div>
  <div class="divider">
    <div class="line"></div>
    <div class="icon"><i class="fa fa-trophy"></i></div>
  </div>
</div>
