<header class="site-header">
  <div class="content">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <p class="site-description">{{ site.description }}</p>
    <div class="site-links">
      <a href="{{ site.rss_url }}">
        <i class="fa fa-rss"></i><span>rss</span>
      </a><a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter"></i><span>twitter</span>
      </a><a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i><span>github</span>
      </a><a href="https://soundcloud.com/{{ site.soundcloud_username }}">
        <i class="fa fa-soundcloud"></i><span>soundcloud</span>
      </a>
    </div>
  </div>
</header>
