/**
 * Site header
 */
.site-header {
  font-family: $heading-font-family;
  font-weight: bold;
  position: fixed;
  top: 0px;
  bottom: 0px;
  text-align: center;
  width: $sidebar-width;

  a:hover {
    text-decoration: none;
  }

  .content {
    position: absolute;
    top: 50%;
    @include transform(translate(0%, -50%));
  }
  @include media-query($on-palm) {
    margin-top: 20px;
    position: static;
    width: 100%;
    top: auto;
    bottom: auto;
    .content {
      position: static;
      top: auto;
      @include transform(none);
    }
  }
}

.site-avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 4px;
  border: 2px solid white;
  @include border-radius(400px);
  @include box-shadow(0px, 0px, 7px, rgba(0, 0, 0, 0.3));
  @include media-query($on-palm) {
    width: 60px;
    height: 60px;
  }
}
.site-title {
  display: block;
  color: $grey-color-dark;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 5px;

  &,
  &:visited,
  &:hover {
    color: $grey-color-dark;
  }
}

.site-description {
  font-size: 14px;
  margin-bottom: 8px;
  color: $sub-text-color;
}

.site-links {
  list-style: none;
  font-size: 22px;

  a {
    color: $sub-text-color;
    position: relative;
    padding: 0px 2px;

    .link-text {
      visibility: hidden;
      opacity: 0;
      font-size: $base-font-size;
      position: absolute;
      top: 20px;
      left: 50%;
      @include transform(translate(-50%, 0%));
    }
    &:hover {
      .link-text {
        visibility: visible;
        opacity: 1;
        top: 25px;
        @include transition(all .25s ease-out);
      }
    }
  }
}

.fa-itunes {
  height: 1em;
  width: 1em;
  line-height: 1em;
  margin-top: -3px;

  .fa-music {
    font-size: 0.5em;
    margin-left: -0.05em;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  display: none;
}

/**
 * Page content
 */
.page-content {
  margin-left: $sidebar-width;
  padding: $spacing-unit 0 $spacing-unit $spacing-unit / 2;
  @include media-query($on-palm) {
    margin-left: 0;
    padding: $spacing-unit / 2 0 $spacing-unit 0;
  }
}

.episode-item {
  margin-bottom: 30px;

  audio {
    width: 100%;
  }

  h2 {
    font-family: $heading-font-family;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
    a {
      &,
      &:visited {
        color: $grey-color-dark;
      }
    }
  }
  .info {
    font-family: $heading-font-family;
    font-size: 13px;
    font-weight: bold;
    color: $sub-text-color;
    margin: 0 0 8px 0;
    list-style: none;
    @extend %clearfix;
    a:hover {
      text-decoration: none;
      color: $brand-color-dark;
    }
    li {
      float: left;
      margin: 0 15px 0 0;

      &.duration,
      &.download,
      &.size {
        margin: 0 0 0 15px;
        float: right
      }
    }
  }
  .description-wrapper {
    margin-top: 5px;

    &.truncated .description {
      max-height: 230px;
      overflow: hidden;
    }

    &.truncated .toggle-more {
      display: block;
    }

    .toggle-more {
      display: none;
      position: relative;
      margin-top: -40px;
      padding-top: 40px;
      text-align: center;

      a, a:visited, a:hover {
        color: $brand-color-dark;
        text-decoration: none;
      }

      .fade {
        position: absolute;
        height: 41px;
        width: 100%;
        top: 1px;
        background-image: linear-gradient(to bottom, transparent, white);
      }
      .less {
        display: none;
      }
    }
  }
}
