/**
 * Site header
 */
.site-header {
  font-family: $heading-font-family;
  font-weight: bold;
  position: fixed;
  top: 0px;
  bottom: 0px;
  text-align: center;
  width: $sidebar-width;

  .content {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }
}

.site-title {
  color: $grey-color-dark;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 5px;

  &,
  &:visited,
  &:hover {
    color: $grey-color-dark;
    text-decoration: none;
  }
}

.site-description {
  font-size: 14px;
  color: $sub-text-color;
}

.site-links {
  list-style: none;
  font-size: 20px;

  a {
    color: $sub-text-color;
    position: relative;
    padding: 0px 2px;

    span {
      visibility: hidden;
      opacity: 0;
      font-size: $base-font-size;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
    }
    &:hover {
      text-decoration: none;

      span {
        visibility: visible;
        opacity: 1;
        top: 20px;
        transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}


/* .footer-col-wrapper { */
/*   font-size: 15px; */
/*   color: $grey-color; */
/*   margin-left: -$spacing-unit / 2; */
/*   @extend %clearfix; */
/* } */

/* .footer-col { */
/*   float: left; */
/*   margin-bottom: $spacing-unit / 2; */
/*   padding-left: $spacing-unit / 2; */
/* } */

/* .footer-col-1 { */
/*   width: -webkit-calc(35% - (#{$spacing-unit} / 2)); */
/*   width:         calc(35% - (#{$spacing-unit} / 2)); */
/* } */

/* .footer-col-2 { */
/*   width: -webkit-calc(20% - (#{$spacing-unit} / 2)); */
/*   width:         calc(20% - (#{$spacing-unit} / 2)); */
/* } */

/* .footer-col-3 { */
/*   width: -webkit-calc(45% - (#{$spacing-unit} / 2)); */
/*   width:         calc(45% - (#{$spacing-unit} / 2)); */
/* } */

/* @include media-query($on-laptop) { */
/*   .footer-col-1, */
/*   .footer-col-2 { */
/*     width: -webkit-calc(50% - (#{$spacing-unit} / 2)); */
/*     width:         calc(50% - (#{$spacing-unit} / 2)); */
/*   } */

/*   .footer-col-3 { */
/*     width: -webkit-calc(100% - (#{$spacing-unit} / 2)); */
/*     width:         calc(100% - (#{$spacing-unit} / 2)); */
/*   } */
/* } */

/* @include media-query($on-palm) { */
/*   .footer-col { */
/*     float: none; */
/*     width: -webkit-calc(100% - (#{$spacing-unit} / 2)); */
/*     width:         calc(100% - (#{$spacing-unit} / 2)); */
/*   } */
/* } */



/**
 * Page content
 */
.episode-item {
  margin-bottom: 30px;

  audio {
    width: 100%;
  }

  h2 {
    font-family: $heading-font-family;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
    a {
      &,
      &:visited {
        color: $grey-color-dark;
      }
    }
  }
  .info {
    font-family: $heading-font-family;
    font-size: 13px;
    font-weight: bold;
    /* color: $grey-color-dark; */
    color: $sub-text-color;
    margin: 0 0 8px 0;
    list-style: none;
    @extend %clearfix;
    li {
      float: left;
      margin: 0 15px 0 0;

      &.duration,
      &.download {
        margin: 0 0 0 15px;
        float: right
      }
    }
  }
  .description {
    margin-top: 5px;
  }
}

.page-content {
  margin-left: $sidebar-width;
  padding: $spacing-unit 0 $spacing-unit $spacing-unit / 2;
}

.page-heading {
  font-size: 20px;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
